<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs.cs185.bryannaphan.fundguy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/fundguyTheme1">

        <!--
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/fundguyTheme1" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/fundguyTheme1" />
        <activity android:name=".OverviewActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/fundguyTheme1"
            />
        <activity android:name=".DetailsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/fundguyTheme1"
            />
        <activity
            android:name=".BudgetDetails"
            android:label="@string/title_activity_budget_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/fundguyTheme1"></activity>

    </application>

</manifest>